:root {
    --color-light-50: #f8fafc;
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;
    --color-ba-50: rgb(0, 0, 0);
    --color-ba-100: rgb(0, 0, 0);
    --color-ba-200: rgb(255, 0, 212);
    --color-gradient: linear-gradient(90deg, var(--color-ba-50), var(--color-ba-100), var(--color-ba-200));
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.dark-mode {
    margin: 0;
    display: flex;
    height: 100vh;
    color: #090d0f;
    background: #223246;
}


.main-login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--color-gradient));
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1 {
    font-size: 3vw;
    color: #dbe3e9;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: linear-gradient(var(--color-gradient));
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgb(26, 120, 197);
}

.card-login > h1 {
    color:#78b7e7;
    font-weight: 800;
    margin: 0;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #cecdcf;
    color: #777777de;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #6d8cb3;
    margin-top: 10px;
}

.textfield > input::placeholder {
    color:#949b9b94;
}

.btn-login {
        width: 100px;
        padding: 16px 0px;
        margin: 25px;
        border: none;
        border-radius: 8px;
        outline: none;
        text-transform: uppercase;
        font-weight: 800px;
        letter-spacing: 3px;
        color: #dbe3e9;
        background: #71a6eb;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px rgb(255, 255, 255);
}

.func {
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

/*.left-login-image-dark .dark-mode {
    width: 35vw;
    align-items: baseline;
}*/

.left-login-image {
    width: 35vw;
    align-items: baseline;
}

@media only screen and (max-width: 950px) {
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90;
    }
}

.dark#main-login {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
}
.dark#main-login .input-field input,
.dark#main-login .input-field i{
    color: var(--color-light-50);
}

#mode_icon.fa-sun {
    cursor: pointer;
    font-size: 20px;
    color: #cecdcf;
}
#mode_icon.fa-moon {
    cursor: pointer;
    font-size: 20px;
    color: #adadad;
}

@keyframes dark-to-light{
    0%{
        background-color: var(--color-dark-100);
    }
    100%{
        background-color: var(--color-light-50);
    }
}

@keyframes light-to-dark{
    100%{
        background-color: var(--color-dark-100);
    }
    0%{
        background-color: var(--color-light-50);
    }
}

.label {
    border-radius: 50px;
    background-color: #000;
    cursor: pointer;
    display: flex;
    position: relative;
    padding: 5px;
    transform: scale(1.5);
}
